* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  font-weight: 500;
}
body {
  background-color: #161c2d;
}

/* Global */
.title h2 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

.title h2 span {
  font-size: 40px;
  color: #ff6e65;
  font-weight: 500;
}

.title h2::before,
.title h2::after {
  content: "";
  background-color: #b7b7b7;
  width: 60px;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

.title h2::before {
  left: -20px;
  bottom: -8px;
}

.title h2::after {
  left: 20px;
  bottom: -15px;
}

.title p {
  text-align: center;
  font-size: 16px;
  margin-top: 32px;
  color: #b7b7b7;
}

.btn-style {
  color: #ffffff;
  background-color: #ff6e65;
  padding: 14px 30px;
  font-size: 16px;
  margin-top: 16px;
  transition: all 0.5s;
}

.btn-style:hover {
  color: #ffffff;
  background-color: #0014a9;
}

/* header  */

.contactbar {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #0d369f;
}
.contactbar a {
  transition: all 0.5s;
  color: white !important;
}

.contactbar a:hover {
  color: #ff6e65 !important;
}

.contactbar__left li {
  margin-right: 10px;
}

.contactbar__right a {
  margin-right: 20px;
}

.logo img {
  margin-right: 10px;
}
.logo {
  font-size: 1.5rem !important;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  display: flex !important;
  justify-content: space-between !important;
  z-index: 1000;
  background-color: #161c2d;
  width: 100%;

  transition: all 0.5s;
}

.nav__search input {
  padding: 10px 0px 10px 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right-style: hidden !important;
  border: 2px solid white;
  background: transparent;
}
.nav__search button {
  padding: 10px 15px;

  background-color: #161c2d;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid white;
  border-left: hidden;
  color: #0d369f;
  transition: all 0.5s;
}

.nav__search button:hover {
  color: #ff6e65;
}

.navbar-toggler {
  background-color: #0d369f;
  color: white;
}
@media screen and (max-width: 992px) {
  .top__header {
    display: none;
  }
}

.collapse__navbar .active a {
  color: #ff6e65;
}

.collapse__navbar a {
  color: white;
  transition: all 0.5s;
  font-weight: 700;
  margin-right: 10px;
}

.collapse__navbar a:hover {
  color: #ff6e65;
}

.dropdownlink {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  border: 1px solid transparent;
  background-color: #161c2d;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-toggle::after {
  content: none;
}

/* courousel  */
.carousel-inner {
  height: 70%;
}

.carousel-caption a {
  text-decoration: none;
  color: black !important;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  width: 40%;
  position: absolute;
  top: 50px;
  left: 50px;
}
.carousel-caption h3 {
  font-size: 400%;
  font-weight: 700;
}
.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  right: 0 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}
.carousel-indicators {
  right: 0 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}
.carousel-indicators .active {
  background-color: #ff6e65;
}

/* @media screen and (max-width: 1200px) {
  #carousel-simple {
    height: 80em !important;
  }
} */

@media screen and (max-width: 992px) {
  .carousel-caption h3 {
    font-size: 300%;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 200%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.303);
  width: 100%;
  height: 100%;
}

/* banner  */
#banner__welcome {
  position: relative;
  top: -100px;
  left: 0px;
  right: 0;
}

#banner__welcome .card i {
  font-size: 3em;
}
#banner__welcome .card {
  color: white;
}

#banner__welcome .card h4 {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}
#banner__welcome .card a {
  font-size: 1.5rem;
  color: white;

  text-decoration: none;
}
.card__item1 {
  background-color: #037ef3;
}
.card__item2 {
  background-color: #ffc949;
}
.card__item3 {
  background-color: #ff4f81;
}
.card__item4 {
  background-color: #1ee697;
}

.card__item2 i {
  transform: skewX(-10deg);
}

.card__item1,
.card__item2,
.card__item3,
.card__item4 {
  padding: 25px !important;
}
#banner__welcome {
  /* position: absolute;
  left: 0;
  right: 0;

  bottom: -550px;
  padding-bottom: 20px; */
  /* margin-bottom: 50px; */
  /* position: relative; */
}
#banner__welcome .container-flud .row {
  /* position: absolute;
  left: 0;
  right: 0;
  top: -100px; */
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #banner__welcome .row {
    padding: 20px 0;
  }
}
/* welcome  */
.welcome {
  padding: 50px 0;
}

/* .title {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.title h2 {
  color: white;
  font-size: 40px !important;
}

.title h2::before,
h2::after {
  content: "";
  background-color: white;
  width: 60px;
  height: 1.5px;
  position: absolute;
  bottom: -20px;
}
.title h2::before {
  left: 500px;
  height: 2px;
}
.title h2::after {
  right: 530px;
  bottom: -26px;
}
.title span {
  font-size: 40px;
  color: #ff4f81;
}
.title h2 {
  font-size: 3.5rem;
} */

.welcome__content {
  margin-top: 40px;
  padding-top: 50px;
}

.welcome__content .card {
  border: none !important;
}

.welcome__content .card i {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100%;
  background-color: #e9edf6;
  color: #0d369f;
}
.card__icon {
  padding: 20px 0 10px 0;
}
.card-title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.card-title a:hover {
  color: #ff4f81;
}

/* funtion product  */

#product {
  background-color: #161c2d;
  padding: 50px 0;
}
#product .container {
  padding-bottom: 50px;
}
.product__card a {
  text-decoration: none;
}

#product .row {
  margin-top: 50px;
}

.card__top a {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.product__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__top a:nth-of-type(1) {
  background-color: #ffa100;
}
.card__top a:nth-of-type(2) {
  background-color: #1dc295;
}
.card__top a:nth-of-type(3) {
  background-color: #037ef3;
}

.card__price p {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #ff6e65;
  text-align: center;
  border-radius: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.card__top {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card__price {
  position: absolute;
  right: 10px;
  bottom: -40px;
}
.card__level i {
  color: #ff4f81;
  margin-right: 5px;
}
.card__body a {
  font-size: 1.2rem;
  color: white;
  transition: all 0.5s;
}

.card__body hr {
  background-color: rgb(173 171 171 / 43%);
}

.card__body a:hover {
  color: #ff4f81;
}

.card__body p {
  padding-bottom: 30px;
  color: rgb(173, 171, 171);
}

.card__level,
.card__body,
.card__footer {
  padding: 10px 15px;
}
.card__footer {
  padding: 0 15px 15px 15px;
}

.card__footer .footer__staricon i {
  color: #ffc949;
}
.card__footerdetail a {
  color: #ff4f81;
  transition: all 0.5s;
}
.card__footerdetail a:hover {
  color: #0d369f;
}

.product__card {
  border-radius: 15px;
  background-color: #161c2d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.412);
  transition: all 0.5s;
}
.product__card:hover {
  box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.product__button {
  background-color: #ff6e65;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  transition: all 0.5s;
}
.product__button:hover {
  background-color: #0d369f;
  color: white;
}
/* class  */
#class {
  padding: 100px 0;
  background-image: url(./../img/bg3.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
}
#class .class__icon {
  padding: 20px;
}
#class .class__icon i {
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100%;
  text-align: center;
  background-color: #e9edf6;
  color: #0d369f;
}

.class__item {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

/* Back to top  */
.backtotop {
  opacity: 0;
}

.backtotop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #4867b0;
  border-radius: 5px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top--fade-out {
  opacity: 0.5;
}

/* number */
.number__item {
  border-right: 1px solid #ffffff33;
}

.number__item h3 {
  font-size: 46px;
  color: #fdfffc;
  font-weight: 500;
}

.number__item p {
  color: #fdfffc;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .number__item {
    border-right: none;
  }

  .number__item h3 {
    font-size: 35px;
  }
}

/* feedback */

.feedback__grid {
  background-color: #161c2d;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 20px 62px #1d253a;
}

.feedback__grid p q::before {
  font-size: 50px;
  color: #ff6e65;
  font-family: initial;
  padding-top: 8px;
  display: inline-block;
}

.feedback__grid p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
}

.author__img {
  padding-right: 15px;
}

.author__img img {
  border-radius: 50%;
}

.author__sub h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  color: #ffffff;
}

.author__sub p {
  font-size: 13px;
  color: #b7b7b7;
}

/* instructor */

.instructor__content .card {
  background-color: #161c2d;
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: 0 20px 62px #1d253a;
  border-radius: 8px;
}

.instructor__content .card-title a {
  font-size: 20px;
  color: #fdfffc;
  font-weight: 600;
  transition: all 0.5s;
  text-decoration: none;
}

.instructor__content .card-text {
  color: #b7b7b7;
}

.instructor__content .card:hover .card-title a {
  color: #ff6e65;
}

.card-top {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.instructor__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
  transition: all 0.5s;
}

.instructor__content .card:hover .instructor__info {
  transform: translateY(-100px);
}

.instructor__icon {
  padding: 20px 0;
  background-color: #0808084a;
}

.instructor__info a i {
  z-index: 1;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
  border-radius: 50%;
  color: #0014a9;
  transition: all 0.5s;
}

.instructor__info a i:hover {
  opacity: 0.8;
}

/* contact */
.contact__title h2 {
  color: #fdfffc;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.contact__title p {
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
}

@media (max-width: 380px) {
  .contact__title h2 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 560px) {
  .contact__title h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
/* footer */
footer {
  position: relative;
}

.footer_top {
  padding: 80px 0;
  background-color: #060e1f;
}

@media (max-width: 736px) {
  .footer_top {
    padding: 40px 0;
  }
}

@media (max-width: 568px) {
  .footer_top {
    margin-top: 1em;
  }
}
.right-side {
  z-index: 1;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #161c2d;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px #1d253a;
}

@media (max-width: 991px) {
  .right-side {
    margin: 0 2em;
  }
}

@media (max-width: 768px) {
  .right-side {
    margin: 0 1em;
    top: -78px;
  }
}

.form_text h4 {
  font-size: 35px;
  line-height: 40px;
  color: #fdfffc;
  font-weight: 600;
}

.form_text p {
  color: #b7b7b7;
}

@media (max-width: 488px) {
  .form_text h4 {
    font-size: 30px;
  }
}

.form_input {
  display: flex;
}

@media (max-width: 440px) {
  .right-side {
    padding: 40px;
  }

  .form_input,
  .form_text {
    padding: 0;
  }
}

.form_input input {
  background: transparent;
  padding: 15px 20px;
  font-size: 16px;
  color: #060606;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #ffffff33;
}

.form_input button {
  background-color: #4867b0;
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.footer_nav {
  margin-top: 120px;

  color: #ffffff;
}

@media (max-width: 768px) {
  .footer_nav {
    margin-top: 150px;
  }
}

@media (max-width: 440px) {
  .footer_nav {
    margin-top: 240px;
  }
  .form_input {
    flex-wrap: wrap;
  }
  .form_input button {
    width: 100%;
    margin-top: 1em;
    padding: 15px 30px;
    border-radius: 4px;
  }
}

.footer_nav h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer_nav ul li {
  list-style: none;
}

.footer_nav ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}

.footer_mail a {
  color: #cecece;
  line-height: 25px;
}

.footer_mail i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer_phone {
  margin-top: 10px;
  padding: 10px 0;
}

.footer_phone a {
  color: #cecece;
  line-height: 25px;
}

.footer_phone i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer_address {
  margin-top: 10px;
}

.footer_address p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.footer_address p i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer_about p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.footer_about {
  border-left: 1px solid #40495282;
}

@media screen and (max-width: 991px) {
  .footer_about {
    border-left: 0px solid #40495282;
  }
}

.footer_icons {
  display: flex;
}

.footer_icons li {
  margin-right: 5px;
}

.footer_icons li a i {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.footer_icons li:hover a i {
  opacity: 0.8;
}

.footer_copyright {
  background: #040a17;
  padding: 20px 0;
}

.footer_copyright p {
  color: #cecece;
}
